/*
########################################
                  Global
########################################
*/

@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  color: #323a45;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  width: 85%;
  margin: 0 auto;
}

img {
  width: 100%;
}

img:hover {
  opacity: 0.4;
}

img,
.header-title,
.link {
  transition: all 0.3s;
}

/*
########################################
                  Header
########################################
*/

header {
  padding: 3rem 0;
}

.nav-bar,
.link-list {
  display: flex;
  align-items: center;
}

.header-title:hover,
.link:hover {
  color: #848484;
}

.nav-bar {
  justify-content: space-between;
}

.header-title {
  font-weight: 700;
}

.link-list {
  gap: 4rem;
  list-style: none;
}

.dropdown {
  display: none;
  font-size: 1.75rem;
  position: relative;
}

.dropdown-menu {
  background: #fff;
  font-size: 1rem;
  list-style: none;
  padding: 0.75rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-120%);
  transition: all 0.3s;
}

.dropdown > .dropdown-link:focus + .dropdown-menu {
  transform: translateY(0);
}

.dropdown-content {
  width: 13rem;
  text-align: center;
  padding: 0.5rem;
  margin: 1rem 0;
}

.content-center {
  margin: 2rem 0;
}

/*
########################################
                  Main
########################################
*/

.flex-row {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.product-info {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 0.25rem 0;
}

.product-title,
.price,
.provider {
  font-size: 1.25rem;
}

.product-title {
  font-weight: 400;
}

.provider {
  color: #848484;
  margin-bottom: 3.5rem;
}

/*
########################################
                  Footer
########################################
*/

footer {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 4fr 2fr 3fr 2fr;
}

footer p {
  margin-bottom: 0.5rem;
}

footer article h3 {
  margin-bottom: 2.5rem;
}

footer article p span {
  font-weight: 700;
}

.column {
  margin-bottom: 2rem;
}

.copyright {
  color: #848484;
  margin: 1.5rem 0 1.5rem 0;
}

/*
########################################
              media-queries
########################################
*/

@media (max-width: 576px) {
  .flex-row {
    flex-direction: column;
  }
}

@media (max-width: 780px) {
  .link-list {
    display: none;
  }

  .dropdown {
    display: inline;
  }
}

@media (max-width: 1439px) {
  footer {
    grid-template-columns: 1fr;
  }
}
